body {
    font-family: arial;
}
.js-input, .js-date {
    border: 1px solid black;
    font-size: 13px;
    padding: 10px;
    font-family: arial;
}
.js-add {
    border: none;
    background-color: green;
    color: rgb(255, 255, 255);
    padding: 11px;
    cursor: pointer;
}
.js-delete {
    border: none;
    background-color: rgb(214, 1, 1);
    color: rgb(255, 255, 255);
    padding: 11px;
    cursor: pointer;
}
.container-1, .container {
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
}
.container {
    margin-top: 10px;
}