body {
    background-color: rgb(65, 65, 65);
    color: white;
    font-family: arial;
}
.h1 {
    color: white;
}
.btnReset {
    font-size: 14px;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(216, 37, 37);
    cursor: pointer;
}
.btnAuto {
    font-size: 14px;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(14, 202, 14);
    cursor: pointer;
}
.movesImg {
    width: 50px;
    border-radius: 40px;
    border: none;
}
.btnMoves {
    margin: 5px;
    background-color: transparent;
    padding: 15px;
    border-radius: 100px;
    cursor: pointer;
    border: 2px solid white;
}
.result {
    font-size: 19px;
    color: rgb(248, 183, 5);
}
.scores {
    margin-top: 40px;
}

/*Auto Play Classlist id */
.stop {
    background-color: rgb(32, 29, 218);
}