body {
    font-family: arial;
}
.grid, .container-1 {
    display: grid;
    grid-template-columns: 150px 100px 100px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
}
.container-1 {
    margin-bottom: 10px;
    align-items: stretch;
}

.js-input, .js-date {
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    font-size: 13px;
}

.js-date {
    cursor: pointer;
}

.js-button{
    cursor: pointer;
    background-color: rgb(47, 245, 47);
    border: none;
    border-radius: 5px;
}

.js-delete {
    cursor: pointer;
    background-color: rgb(236, 33, 33);
    border: none;
    border-radius: 5px;
    padding: 13px;
}