body {
    font-family: arial;
}

.subscribe-btn {
    border: none;
    background-color: black;
    color: white;
    font-family: monospace;
    border-radius: 20px;
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
}
.isSubscribe {
    border: none;
    font-weight: 600;
    background-color: rgb(184, 184, 184);
    color: black;
    font-family: monospace;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}
p {
    font-family:  Helvetica;
    font-size: 19px;
}

.js-text-input {
    border: 1px solid black;
    padding: 10px;
}
.js-text-input::placeholder {
    font-size: 14px;
}
.calculateBtn {
    border: none;
    font-weight: 500;
    background-color: rgb(4, 201, 53);
    color: rgb(0, 0, 0);
    font-family: monospace;
    padding: 11px;
    cursor: pointer;
}
.total {
    font-size: 16px;
    color: black;
}
span {
    font-size: 18px;
    color: green;
}