body {
    background-color: rgb(19, 19, 19);
    color: white;
    font-family: arial;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 20vh;
    text-align: center;
}
.container {
    border: 2px solid orange;
    width: 300px;
    height: fit-content;
}
.total {
    border: 1px solid rgb(172, 172, 172);
    padding: 10px;
    text-align: center;
    font-size: 20px;
    color: white;
    width: auto;
    border-radius: 5px;
    margin: 5px;
    font-weight: 700;
}
.button {
    border: none;
    border-radius: 50px;
    padding: 10px;
    margin: 5px;
    width: 60px;
    height: 60px;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}
.button:hover {
    background-color: rgb(189, 189, 189);
}

.oper {
    border: none;
    border-radius: 50px;
    padding: 10px;
    margin: 5px;
    width: 60px;
    height: 60px;
    font-weight: 700;
    font-size: 20px;
    background-color: orange;
    cursor: pointer;
}
.oper:hover {
    background-color: rgb(218, 146, 12);
}

.buttonClear {
    width: 295px;
    padding: 10px;
    border: none;
    font-weight: 700;
    cursor: pointer;
    margin: 2px;
    border-radius: 5px;
    margin-bottom: 5px;
}