body {
    font-family: arial;
}

.btnAddCart {
    background-color: rgb(255, 216, 20);
    border: none;
    border-radius: 20px;
    padding: 10px;
    width: 150px;
    cursor: pointer;
}

.btnReq {
    margin-top: 30px;
    background-color: rgb(0, 0, 0);
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}
.btnSched {
    margin-top: 30px;
    background-color: rgb(230, 230, 230);
    border: none;
    color: black;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}
.btns {
    margin-top: 30px;
    background-color: rgb(230, 230, 230);
    border: none;
    color: black;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}
.toggled {
    margin-top: 30px;
    background-color: rgb(0, 0, 0);
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}


.isToggled {
    margin-top: 30px;
    background-color: rgb(58, 20, 20);
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.input-text {
    border: 1px solid green;
    margin-top: 30px;
    background-color: white;
    padding: 10px;
    font-size: 14px;
    color: green;
}
.calculateBtn {
    border: none;
    margin-top: 30px;
    background-color: green;
    padding: 11px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

span {
    color: red;
}